{cover_enabled, true}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {i, "./_build/default/plugins/gpb/include/"}
]}.

{eunit_opts, [verbose]}.

{deps, [{paillier,
        {git, "https://github.com/mrshankly/erlang-paillier",
            {branch, "master"}}}]}.

{plugins, [
    erlfmt,
    {rebar3_gpb_plugin, "2.10.0"}
]}.

{erlfmt, [
    write,
    {print_width, 99},
    {files, ["{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]}
]}.

{gpb_opts, [
    {i, "proto"},
    {module_name_suffix, "_pb"},
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs
]}.

{provider_hooks, [
    {pre, [
        {clean, {protobuf, clean}},
        {compile, {protobuf, compile}}
    ]}
]}.
